{% extends 'wechat/da_base.html' %}


{% block center_body %}
<h1>校园微信数据采集及分析系统</h1>
<div id="bt">
<h3>请选择采集角色</h3>
<a href="/da/studentInfor"><div class="button red" ><div class="shine"></div>
    学生</div></a>
<a href="/da/teacherInfor"><div class="button gray"><div class="shine"></div>
    老师</div></a>
</div>
<div id="body_info">
    <h3>数据采集说明</h3>
    <ul>
     
        <li> 3、本网站自动数据采集提取内容为：
            <p>1、微信好友所在地区</p>
            <p>2、微信好友性别</p>
            <p>3、微信好友签名</p>
        </li>
        <li>  4、数据采集全凭自愿</li>
         <li> 5、本网站已经备案，备案号可查</li>
    </ul>





</div>
{% endblock %}  {#中央内容#}


{% block footer %}
<div id="footer_wrapper">
            <div id="footer">

               {% include 'icp_beian_template.html' %}
                Copyright © 2018 <a href="#">alexander</a>
                <div class="cleaner"></div>
            </div>
</div>
{% endblock %}  {# 微信数据首页底部 #}