
*
{
    margin: 0;
    padding: 0;
}
body {
	font-family: 'museoslab500';

    background-image: url('../img/bg.jpg');

}


.bt a{

   text-decoration: none;

}

a:hover { 
	text-decoration: none; 
}

#center_wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 0 5px;

}
#center_header {
	width: 980px;
	height: 100%;
    background-color: ghostwhite;
	margin: 0;
}


#center_menu {

	width: 980px;
	height: 40px;
	background: black;

	text-align: center;
}

#center_menu ul {

	height: 40px;
	list-style: none;
	display: inline-block;
}

#center_menu ul li {
	height: 40px;
	line-height: 40px;
	display: inline;
	padding: 10px 20px;
}

#center_menu ul li a {


	font-size: 16px;
	color: whitesmoke;
	text-decoration: none;
	font-weight: 400;
	border: none;
}
#center_menu ul:hover{
	color: #ececec;


}
#center_menu ul li a:hover{
	color: lightgrey;

}

#center_body{

	clear: both;
	width: 980px;
	height: 800px;
	text-align: center;
}

#center_body h1{
	margin-top: 25px;
}

#body_info{
	margin-top: 100px;
	text-align: center;

}
#bt{
	padding-top: 50px;
}
#body_info ul{
	text-align:left;
	margin-left: 150px;
	margin-right: 150px;
	font-size: 20px;
}
#body_info ul li{
	margin: 10px;
}
#body_info ul li p{
	font-size: 80%;
	color: darkred;
}

#footer_wrapper {
	clear: both;
	width: 100%;
	border-top: 1px solid #898989;
	background: black;
}

#footer {
	clear: both;
	width: 980px;
	height: 20px;
	padding: 15px 5px;	
	margin: 0 auto;
	color: lightgrey;
	text-align: center;

}

#footer a {
	color: whitesmoke;
	text-decoration: underline; 
}